<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content color="dark">

    <ion-list *ngIf="segmentoArticulo" color="dark">

        <ion-item color="dark">
            <ion-label>Tipo Articulo</ion-label>
            <ion-select [(ngModel)]="segmentoArticulo.tipoArticulo"
                        okText="Aceptar" cancelText="Cancelar">
                <ion-select-option *ngFor="let item  of lstTipoArticulos"
                                   value="{{item._id}}">{{item.nombre|uppercase}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item color="dark">
            <ion-label position="floating">Descripcion</ion-label>
            <ion-input [(ngModel)]="segmentoArticulo.descripcion"></ion-input>
        </ion-item>
        <ion-item color="dark">
            <ion-label position="floating">Código Parametro</ion-label>
            <ion-input [(ngModel)]="segmentoArticulo.codigoParametro"></ion-input>
        </ion-item>

        <ion-item color="dark">
            <ion-label>Es servicio</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="segmentoArticulo.esServicio"></ion-checkbox>
        </ion-item>
        <ion-item color="dark">
            <ion-label>Es servicio de transporte</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="segmentoArticulo.esServicioTransporte"></ion-checkbox>
        </ion-item>

        <ion-button
                type="submit"
                (click)="registrarNuevo(segmentoArticulo)"
                color="success"
                expand="block">Guardar
            <ion-icon></ion-icon>
        </ion-button>
        <ion-button
                type="submit"
                (click)="segmentoArticulo=null"
                color="warning"
                expand="block">Cancerlar
            <ion-icon></ion-icon>
        </ion-button>
    </ion-list>

    <ion-list *ngIf="!segmentoArticulo" color="dark">
        <ion-item-group *ngFor="let tipoArticulo of lstTipoArticulos; let i = index">
            <ion-item-divider color="dark">
                <ion-label color="primary">{{tipoArticulo.nombre | uppercase}}</ion-label>
            </ion-item-divider>

            <ion-item-sliding
                    *ngFor="let data of lstSegmento | genFilter:{idTipoArticulo: tipoArticulo._id};  let i = index">
                <ion-item color="dark">
                    <ion-label>{{data.descripcion | uppercase}}</ion-label>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option color="tertiary" (click)="segmentoArticulo=data">
                        <ion-icon slot="icon-only" name="pencil"></ion-icon>
                    </ion-item-option>
                    <ion-item-option color="danger" (click)="eliminar(data)">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-item-option>
                </ion-item-options>

            </ion-item-sliding>
        </ion-item-group>
    </ion-list>
</ion-content>
<ion-footer color="dark" *ngIf="!segmentoArticulo">
    <ion-button
            type="submit"
            (click)="crearNuevo()"
            color="tertiary"
            expand="block">Nuevo
        <ion-icon></ion-icon>
    </ion-button>
</ion-footer>

