<ion-item color="dark">
    <!--<ion-label>{{idImagen}}</ion-label>-->
    <!--    <ion-button fill="outline" slot="start" (click)="mostrarImagenValor(mostrarImagen)">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            Refresh
        </ion-button>-->

    <ion-button fill="outline" slot="end" (click)="seleccionarPoCamara()">
        <ion-icon name="camera"></ion-icon>
        Camara
    </ion-button>
    <ion-button fill="outline" slot="end" (click)="seleccionarPorLibreria()">
        <ion-icon name="images"></ion-icon>
        Galería
    </ion-button>
</ion-item>

<ion-card>
    <div *ngIf="!svrImagen.imagenObtenida">
        <img [src]="(idImagen | imagen: directorio ) | imageSanitizer">
    </div>

    <div *ngIf="svrImagen.imagenObtenida">
        <img [src]="svrImagen.imagenObtenida | imageSanitizer">
    </div>
</ion-card>

