<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content color="dark">
    <ion-list *ngIf="objTipoArticulo" color="dark">
        <ion-item color="dark">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input class="ion-text-uppercase" [(ngModel)]="objTipoArticulo.nombre"></ion-input>
        </ion-item>
        <ion-item color="dark">
            <ion-label position="floating">Descripcion</ion-label>
            <ion-input class="ion-text-uppercase" [(ngModel)]="objTipoArticulo.descripcion"></ion-input>
        </ion-item>
        <ion-item color="dark">
            <ion-label position="floating">Codigo</ion-label>
            <ion-input class="ion-text-uppercase" [(ngModel)]="objTipoArticulo.codigo"></ion-input>
        </ion-item>

        <ion-button
                type="submit"
                (click)="registrarTipoArticulo(objTipoArticulo)"
                color="success"
                expand="block">Guardar
            <ion-icon></ion-icon>
        </ion-button>
        <ion-button
                type="submit"
                (click)="objTipoArticulo=null"
                color="warning"
                expand="block">Cancerlar
            <ion-icon></ion-icon>
        </ion-button>
    </ion-list>

    <ion-list *ngIf="!objTipoArticulo" color="dark">
        <ion-item-sliding *ngFor="let item of lstTipoArticulos; let i = index">
            <ion-item color="dark">
                <ion-label>{{item.nombre | uppercase}}</ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="tertiary" (click)="objTipoArticulo=item">
                    <ion-icon slot="icon-only" name="pencil"></ion-icon>
                </ion-item-option>
                <ion-item-option color="danger" (click)="eliminarTipoArticulo(item)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>

    </ion-list>
</ion-content>
<ion-footer *ngIf="!objTipoArticulo">
    <ion-button
            type="submit"
            (click)="crearNuevo()"
            color="tertiary"
            expand="block">Nuevo
        <ion-icon></ion-icon>
    </ion-button>
</ion-footer>
